html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* This prevents any scroll bars that might add space */
}

p {
  margin: 0 auto;
}

.main_container {
  text-align: center;
  width: 100vw;
  font-family: 'Lexend Mega';
  /* font-size: 22px; */
}

.backgroundCont{
  position: relative;
  height: 100vh; 
  background-image: url(assets/pexels-arnie-chou-304906-1229042.jpg);
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container0, .container1, .container2, .container3 {
  height: 100vh; 
  position: relative;
}

.container0 {
  position: absolute; /* Position absolute to overlap */
  top: 0; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  width: 100%; /* Take the full width of the backgroundCont */
  height: 100%; /* Take the full height of the backgroundCont */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.names{
  font-size: 2vw;
}

/* #fname{
  margin-top: 20vh; 
  margin-left: 25vw;
  margin-bottom: 0vh;
} */

/* #lname{
  margin-top: 0vh;
  margin-left: 27vw;
} */

#sub-name {
  color: #d3d3d3;
  margin-top: 0vh;
  margin-left: 0vw;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgba(0, 0, 0, 0.335); /* Semi-transparent black */
  display: inline; /* Apply the background only to the text */
  padding: 0.2em; /* Space around the text */
  border-radius: 5px;
}

/* #lockIcon{
  margin-top: -25vh; 
  margin-left: 65vw;
  width: 12vw;
  position:absolute;
  opacity: 0.5;
} */

/* .container1 {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), #7B7B7B);
}  */

.quote{
  margin: 10vh 5vw;
}

#quote_author{
  margin-top: 1.5vh;
  text-align: right;
}

.intro_text{
  margin-left: 50vw;
  margin-top: 20vh;
  line-height: 2;
   
}

#i_1{
  margin-top: 15vh;
}

#i_2{
  margin-top: 10vh;
}
.globe_style{
  position: absolute;
  margin-top:0vh;
  margin-left: auto;
}

.container2 {
  height: 75vh;
  background: linear-gradient(rgb(0, 0, 0),rgb(255, 255, 255))
} 

.container3 {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.project_text{
  margin-top: 0;
}

#P_title{
  color: black;
  margin-top: 0;
}
#grid{
  text-align: center;
}