html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  overflow-x: hidden; /* This prevents any scroll bars that might add space */
}

p {
  margin: 0 auto;
}

.main_container {
  text-align: center;
  width: 100vw;
  font-family: 'Lexend Mega';
  /* font-size: 22px; */
}

.container0, .container1, .container2, .container3 {
  height: 100vh; 
  position: relative;
}

.container0 {
  background-color: rgb(0, 0, 0);
  text-align: left;
  height: 60vh; 
}

.container1 {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), #7B7B7B);
} 

/* .container2 {
  background-color: rgb(17, 255, 0);
} */

/* .container3 {
  background-color: rgb(255, 0, 0);
} */

.names{
  font-size: 2vw;
}

#fname{
  margin-top: 30vh;
  margin-left: 25vw;
  margin-bottom: 0vh;
}

#lname{
  margin-top: 0vh;
  margin-left: 27vw;
}

#sub-name {
  color: #7B7B7B;
  margin-top: 0vh;
  margin-left: 27vw;
}

#lockIcon{
  margin-top: -25vh; 
  margin-left: 65vw;
  width: 12vw;
  position:absolute;
  opacity: 0.5;
}

.quote{
  margin: auto 5vw;
}

#quote_author{
  margin-top: 1.5vh;
  text-align: right;
}
